*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.properties
*.aab
*.apk
androidApp/keystore
androidApp/debug
androidApp/release
.kotlin
/androidApp/google-services.json
/iosApp/iosApp/GoogleService-Info.plist
!gradle/wrapper/gradle-wrapper.properties
!gradle.properties
